.about {
    background-color: #f7f7f7;
    &_content {
        max-width: 1000px;
        margin: 0 auto;
    }
    &_heading {
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 1rem;
    }
    &_text {
        font-size: 1.8rem;
        opacity: 0.8;
        line-height: 1.5;
    }
}
  