.contact {
    background-color: #FBB101;
    color: white;
    font-size: 2rem;
    padding: 8rem 0;
    text-align: center;
    &_title {
        font-size: 3rem;
        text-transform: uppercase;
        padding-bottom: 0 2rem 1rem 2rem;
    }
    &_btn {
        margin-top: 3rem;
        color: white;
        border: 2px solid white;
        background-color: transparent;
       
        &:hover {
            color: white;
            border: 2px solid $color2;
            background-color: $color2;
          }
    }
}

// .contact_btn {
//     background-color: $color1;
//     outline: none;
//     -webkit-box-shadow: 10px 5px 45px 3px rgba(251,177,1,0.45);
// -moz-box-shadow: 10px 5px 45px 3px rgba(251,177,1,0.45);
// box-shadow: 10px 5px 45px 3px rgba(251,177,1,0.45);
    